* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}

.navbar {
  background: #0d6efd;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  flex-wrap: wrap;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-search {
  display: flex;
  gap: 10px;
}

.nav-search input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.nav-search button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.clear-btn {
  background: crimson;
  color: white;
}

.hero {
  height: 70vh;
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.hero h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

#result {
  padding: 40px;
}

.section-title {
  text-align: center;
  color: #0d6efd;
  margin-bottom: 30px;
  font-size: 35px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
}

.card p {
  padding: 0 15px 20px;
}

.about,
.contact-section {
  padding: 60px;
  text-align: center;
}

.contact-section form {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-section input,
.contact-section textarea {
  padding: 10px;
}

.contact-section button {
  padding: 10px;
  background: #0d6efd;
  color: white;
  border: none;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
